<div class="main-container"  fxLayout="column" fxFlexFill >
  <mat-sidenav-container class="sidenav" fxFlex="100%"  fxFlexAlign="center center" fxLayout="column" fxFill >
    <mat-sidenav fxLayout="column" [mode]="this.isMobile ? 'over' : 'side'" [opened]="this.isOpen">
      <app-profile-card></app-profile-card>
      <app-chat-room-list></app-chat-room-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <button mat-icon-button color="accent" fxHide.gt-md (click)="isOpen = !isOpen">
        <mat-icon>menu</mat-icon>
      </button>
      <div id="sidenav-content" fxFill fxLayoutAlign="center center" fxLayoutAlign.lt-md="start start">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

